/* LINKS TO IMAGES - DELETE BEFORE FINAL COMMIT
Rounded Page: http://www.csszengarden.com/211/rounded.jpg
Bullet Points: http://www.csszengarden.com/211/bullet.jpg
Header Image: http://www.csszengarden.com/211/header.jpg
Title One: http://www.csszengarden.com/211/title01.jpg
Title Two: http://www.csszengarden.com/211/title02.jpg
Title Three: http://www.csszengarden.com/211/title03.jpg
Title Four: http://www.csszengarden.com/211/title04.jpg
Title Five: http://www.csszengarden.com/211/title05.jpg
Sidebar Orchid: http://www.csszengarden.com/211/orchid.jpg */


/* BODY */
body {
    margin: 0;
    padding: 0;
    font-family:Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 1.4em;
    color: #999;
}

/* PAGE WRAPPER - FLEXBOX CONTAINER*/
.page-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    margin: auto;
    width: 630px;
    border:0px dotted #999999;
    background-image:url(http://www.csszengarden.com/211/rounded.jpg);
    background-repeat: no-repeat;
    background-position:bottom;
}

/* ALL ANCHOR TAGS */
a:link {
	color: #6D2542;
	text-decoration: none;
	}
a:visited {
	color: #999999;
	text-decoration: none;
	}
a:hover {
	color: #999999;
	text-decoration: underline;
	}
a:active {
	color: #999999;
	text-decoration: none;
	}

/* HEADER / BANNER */
header {
    background: transparent url(http://www.csszengarden.com/211/header.jpg) no-repeat center top;
    border:0px dotted #999999;
    height: 400px;
    width: 630px;
}

header h1, h2, .summary p:first-child {
    display: none;
}

.summary {
    width: 290px;
    margin:-110px 0 95px 288px;
    padding: 0 0 0 15px;
}

.summary p:last-child {
    background: transparent url(http://www.csszengarden.com/211/bullet.jpg) no-repeat 0% 28%;
    text-transform: uppercase;
    font-weight: normal;
    font-size: .5rem;
    padding: 0 0 0 15px;
}

/* SETTINGS FOR ALL PARAGRAPHS */
.preamble, .explanation, .participation, .benefits, .requirements {
    width: 350px;
}

/* TEXT HEADERS FOR ALL PARAGRAPHS */
.preamble h3, .explanation h3, .participation h3, .benefits h3, .requirements h3 {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/* FIRST MAIN PARAGRAPH */
.preamble h3 {
    background-image: url(http://www.csszengarden.com/211/title01.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    height: 64px;
    margin: -5px;
}

/* SECOND MAIN PARAGRAPH */
.explanation h3 {
    background-image: url(http://www.csszengarden.com/211/title02.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    height: 64px;
}

/* THIRD MAIN PARAGRAPH */
.participation h3 {
    background-image: url(http://www.csszengarden.com/211/title03.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    height: 64px;
}

/* FORTH MAIN PARAGRAPH */
.benefits h3 {
    background-image: url(http://www.csszengarden.com/211/title04.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    height: 64px;
}

/* FIFTH / FINAL MAIN PARAGRAPH */
.requirements h3 {
    background-image: url(http://www.csszengarden.com/211/title05.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    height: 64px;
}

/* SIDEBAR NAVIGATION */
.sidebar {
    position: relative;
    bottom: 240px;
    width: 180px;
    height: 810px;
    background: transparent url(http://www.csszengarden.com/211/orchid.jpg) no-repeat bottom;
}

.sidebar ul {
    list-style: none;
    width: 120px;
}

.sidebar ul li {
    border-bottom: 1px dotted #999999;
}

.design-selection h3, .design-archives h3, .zen-resources h3 {
    text-transform: uppercase;
}

.design-selection ul li {
	padding: 3px 0 3px 20px;
	background: transparent url(http://www.csszengarden.com/211/bullet.jpg) no-repeat 2% 25%;
    color:#999999;
}

.design-selection, .design-archives {
	margin-bottom: 5px;
	border:0px solid #000000;
}

.design-archives ul li a, .zen-resources ul li a {
color:#6D2542;
}

/* FOOTER */
footer{
	text-align: left;
	padding:0 0 0 0;
	margin:0 0 0 60px;
}

footer a, footer a:visited {
	padding: 5px;
	border: 1px solid #eeeeee;
	background-color: #fff;
	color: #666666;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:10px;
}

footer a:hover {
	padding: 5px;
	border: 1px solid #eeeeee;
	background-color: #eeeeee;
	color: #999999;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-decoration: none;
}

.extra1, .extra2, .extra3, .extra4, .extra5, .extra6{
    display:none;
    }